<ul class="navbar-nav align-items-center">
    <li class="nav-item dropdown">
        <a class="nav-link text-dark notification-bell unread dropdown-toggle nav-link-droite"
           data-unread-notifications="true" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static"
           aria-expanded="false">
            <svg class="icon icon-sm icon-bell" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
            </svg>
        </a>

        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-center mt-2 py-0">
            <div class="list-group list-group-flush">
                <a href="#" class="text-center text-dark fw-bold border-bottom  py-3">Notifications</a>
                <a href="#" class="list-group-item list-group-item-action border-bottom">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- Avatar -->
                            <img alt="Image placeholder" src="./assets/images/equipe/profile-picture-1.jpg"
                                 class="avatar-md rounded">
                        </div>
                        <div class="col ps-0 ms-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <small class="mb-0">Jose Leos</small>
                                </div>
                                <div class="text-end">
                                    <small class="text-danger">Il y a 10mn</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>


                <a href="#" class="list-group-item list-group-item-action border-bottom">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- Avatar -->
                            <img alt="Image placeholder" src="./assets/images/equipe/profile-picture-2.jpg"
                                 class="avatar-md rounded">
                        </div>
                        <div class="col ps-0 ms-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <small class="mb-0">John Smith</small>
                                </div>
                                <div class="text-end">
                                    <small class="text-end">Il y a 2H</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action border-bottom">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- Avatar -->
                            <img alt="Image placeholder" src="{{ asset('images/equipe/profile-picture-3.jpg') }}"
                                 class="avatar-md rounded">
                        </div>
                        <div class="col ps-0 m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <small class="mb-0">Roberta Casas</small>
                                </div>
                                <div class="text-end">
                                    <small>Il y a 5H</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown ms-lg-3">
        <a class="nav-link dropdown-toggle px-0 nav-link-droite" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            <div class="media d-flex align-items-center">
                {% if app.user is defined and app.user.avatar is defined %}
                    <div class="avatar">
                        <img src="{{ asset('uploads/avatar/' ~ app.user.avatar) }}" alt="{{app.user.firstname ?: ''}} {{ app.user.lastname ?: ''}}"/>
                    </div>
                {% else %}

                <i class="bi bi-person-circle text-light fs-4"></i>
                {% endif %}
                <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                    <span class="mb-0 font-small fw-bold text-white">
                        {% if app.user %}
                        {{app.user.firstname ?: ''}} {{app.user.lastname ?: ''}}
                        {% endif %}
                    </span>
                </div>
            </div>
        </a>
        <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon  me-2" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                          clip-rule="evenodd"></path>
                </svg>
                Mon Profil
            </a>
            <div role="separator" class="dropdown-divider my-1"></div>
            <a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">
                <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                </svg>
                Se déconnecter
            </a>
        </div>
    </li>
</ul>